<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
</head>

<body>
	<div id="alerts"></div>
	<form action="/login" method="POST">
                <p>Login:</p><input type="text" name="name" value="">
                <p>Password:</p><input type="password" name="password" value="">
		<input type="submit" name="a" value="Submit">
        </form>
        <script src="/static/alerts.js"></script>
</body>

</html>
