<html>
<head>
    <script>
        let room_id = "{{ room_id }}";
    </script>
    <title>{{ room_name }}</title>
</head>
<body>
<h3>You are in a {{ room_id }} room!</h3>
<h4>People count: <span id="people-count">0<span></h4>
<h4>Current status: <span id="current-status">PAUSE</span></h4>
<form action="/rooms/{{ room_id }}" method="POST">
    <input id="link" name="link" placeholder="Link to a stuff">
    <input formmethod="post" type="submit" value="Submit">
</form>
<video controls id=video width="640" height="480" preload="none">
    <source src="{{ video }}" type="video/mp4">
    Your browser does not support the video tag.
</video>
<button id="force-uns">Force unsuspend</button>
<button id="force-sus">Force suspend</button>
<script src="/static/main.js"></script>
</body>
</html>