<!DOCTYPE html>
<html>

<head>
        <script>
                let room_id = "{{ room.room_id }}";
        </script>
        <title>{{ room.name }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/room.css">
</head>

<body>
	<div id="alerts"></div>
	<h3>You are in a <input type="text" value="{{ room.name }}" id="updated-name"> room!</h3>
        <h4>People count: <span id="people-count">0<span></h4>
        <h4>Current status: <span id="current-status">PAUSE</span></h4>
	<p>Image link:</p><input type="url" id="updated-img-link" value="{{ room.img_link }}">
	<input type="submit" id="update-room" value="Update name/image link">
        <div id="video-wrapper">
                <p id="alert"></p>
                <video controls id=video preload="auto">
                        <source src="{{ room.video }}" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
        </div>
        <button id="force-sus">Force suspend</button>
        <div>
                <p>Set another video:</p>
                <form action="/rooms/{{ room.room_id }}" method="POST">
                        <input id="link" name="link" placeholder="Link to a stuff">
                        <input formmethod="post" type="submit" value="Submit">
                </form>
        </div>
	<select id="select-file">
	{% for fi, filename in room.files %}
		<option value="{{ fi }}" {% if room.curr_fi == fi %} selected {% endif %} >{{ filename }}</option>	
	{% endfor %}
	</select>
	<input type="submit" id="delete-room" value="Delete room">
        <script src="/static/room.js"></script>
        <script src="/static/alerts.js"></script>
</body>

</html>
