<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rooms</title>
        <link href="/static/rooms.css" rel="stylesheet">
</head>

<body>
        <div id="alerts"></div>
	<h3>List of rooms:</h3>
        <ul id="room-list">
                {% for room in rooms %}
                <li><a href="/rooms/{{ room.room_id }}">{{ room.name }}</a></li>
                {% endfor %}
        </ul>
        <div id="room-create">
                <form id="create-form" method="POST" action="/rooms/from_link" enctype="multipart/form-data">
                        <h3>Create room:</h3>
                        <select id="video-from" autocomplete="off">
                                <option id="link" value="from-link">From a link</option>
                                <option id="torrent" value="from-torrent">From torrent</option>
                        </select>
                        <input id="room-name" type="text" name="name" placeholder="Room name">
                        <div id="from-link">
                                <input id="video-link" name="link" placeholder="Link to a video">

                        </div>

                        <div id="from-torrent">
                                <input type="file" name="torrent_file">
                        </div>
                        <input id="create-room" type="submit" value="Submit">


                </form>
        </div>
        <script src="/static/rooms.js"></script>
        <script src="/static/alerts.js"></script>
</body>

</html>
